.disabled-field {
  cursor: not-allowed;
}
.popper-container {
  width: 300px;
  max-height: 250px;
  overflow: auto;
}
.options-chips {
  .chip-root {
    margin: 15px;
    margin-bottom: 0;
    margin-left: 0;
  }
}