.breadcrumbs-wrapper {
  border-bottom: 1px solid #e4e7eb;
  margin-left: 15px;
  .tab-root {
    color: #3a3b3f;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    min-width: 100px;
  }
}
