.details-card-root {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #e4e7eb;
  border-radius: 4px;
  .details-content {
    height: 100%;
    //display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .details-title {
      font-size: 24px;
      color: #212529;
      letter-spacing: -0.06px;
      line-height: 28px;
      white-space: nowrap;
    }
    .details-medium-title {
      font-size: 16px;
      color: #3A3B3F;
      letter-spacing: -0.05px;
      line-height: 20px;
      white-space: nowrap;
    }
    .details-sub-title {
      font-size: 14px;
      color: #66788A;
      letter-spacing: 0;
      margin-left: 0.8%;
      vertical-align: top;
    }
    .details-bottom-border {
      border-bottom: 1px solid #E4E7EB;
      margin-top: 10px;
    }
    .details-message {
      color: #66788a;
      font-size: 12px;
    }
    .change-root {
      .rotate {
        transform: rotate(180deg);
      }
      .details-change-value {
        font-size: 12px;
        margin-right: 10px;
        line-height: 12px;
      }
      .details-span-text {
        font-size: 12px;
        color: #66788a;
        line-height: 12px;
      }
    }
  }
}
.short-height {
  height: 100px;
}
