.order-editor-root {
  // padding: 15px;
  width: 900px;
  .editor-header {
    padding: 15px;
    .editor-title {
      font-size: 20px;
      margin-left: 15px;
    }
    .product-field {
      width: 300px;
      margin: 0;
    }
  }
  .editor-body {
    max-height: 300px;
    overflow-y: auto;
  }
  .invoice-section {
    padding: 15px;
    border-bottom: 1px solid #e4e7eb;
    .invoice-root {
      width: 700px;
      .promo-info {
        font-size: 16px;
        margin-bottom: 15px;
        .info-label {
          margin-right: 15px;
          color: #66788a;
        }
        .info-value {
          color: black;
          font-weight: bold;
          height: 20px;
          .warning-icon {
            color: #FFBD59;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .editor-footer {
    padding: 15px;
  }
}
