.timeline-section {
  padding: 15px;
  padding-top: 40px;
  border-top: 1px solid #e9eaec;
  .timeline-root {
    padding: 15px;
    .status-time {
      width: 100px;
      height: 64px;
      .time-capsule {
        width: 80px;
        color: #54617a;
        height: 24px;
        border-radius: 12px;
        background: #e9eaed;
        border: 1px solid #aab1bd;
        text-align: center;
      }
      .completed {
        color: white;
        background: #0d1117;
        border: none;
      }
      .order-state {
        color: #54617a;
      }
    }
    .timeline-line {
      height: 1px;
      margin-top: 12px;
      background-color: #e9eaed;
      min-width: 40px;
      position: relative;
      flex: 1;
      .bubble-root {
        background-color: #e9eaed;
        width: 60px;
        text-align: center;
        padding: 2px 5px;
        position: absolute;
        top: -50px;
        left: calc(50% - 30px);
        font-size: 12px;
      }
      .bubble-root::after {
        background-color: #e9eaed;
        display: block;
        content: ' ';
        height: 8px;
        position: absolute;
        top: calc(100% - 4px);
        left: calc(50% - 4px);
        z-index: 0;
        transform: rotate(45deg);
        width: 8px;
      }
      .cancelled-indicator {
        background-color: #ec4c47;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -12px;
        padding: 2px;
        left: calc(50% - 12px);
        font-size: 12px;
        border-radius: 12px;
        color: white;
      }
    }
  }
}
