
label.rotate-img {
  margin-bottom: 0;
}

.rotate-img input[type=checkbox] {
  display: none
}

.rotate-img img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.rotate-img input[type=checkbox]:checked~img {
  cursor: zoom-out;
}

.rotate-icons {
  position: fixed;
  bottom: 12%;
  right: 50%;
  color: white;
}
