.stat-card-root {
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  border: 1px solid #e4e7eb;
  border-radius: 4px;
  .stat-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .stat-title {
      font-size: 13px;
      font-weight: 600;
      color: #6e7379;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase;
      white-space: nowrap;
      .ping-indicator {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: grey;
        margin-right: 10px;
      }
      .green-indicator {
        background-color: #4caf50;
      }
      .red-indicator {
        background-color: #ec4c47;
      }
      .yellow-indicator {
        background-color: #f7d154;
      }
      .blue-indicator {
        background-color: #1070ca;
      }
    }
    .stat-value {
      font-size: 24px;
      color: #212529;
      letter-spacing: -0.06px;
      line-height: 24px;
      white-space: nowrap;
    }
    .stat-message {
      color: #66788a;
      font-size: 12px;
    }
    .change-root {
      .rotate {
        transform: rotate(180deg);
      }
      .stat-change-value {
        font-size: 12px;
        margin-right: 10px;
        line-height: 12px;
      }
      .stat-span-text {
        font-size: 12px;
        color: #66788a;
        line-height: 12px;
      }
    }
    .stat-change-loading {
      height: 12px;
      width: 100px;
      background-color: #eeeeee;
    }
    .neg-change-color {
      color: #ec4c47;
    }
    .pos-change-color {
      color: #4caf50;
    }
  }
  .stat-icon-root {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    border-radius: 50%;
    .stat-icon {
      height: 36px;
      width: 36px;
      color: white;
    }
  }
  .red {
    background-color: #ec4c47;
  }
  .green {
    background-color: #47b881;
  }
  .blue {
    background-color: #1070ca;
  }
}
.short-height {
  height: 100px;
}
.no-border {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
