.loader-sec {
  height: 100vh;
}

.simple-loader {
  height: 100px;
  width: 100px;
  animation: bulge 1s linear infinite;
}

@keyframes bulge {
  0% {
    width: 120px;
    height: 120px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}
