
.validator-text {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.success-message {
  color: #47b881;
  font-family: sans-serif;
}

.error-message {
  color: #ec4c47;
  font-family: sans-serif;
}
