.buddy-tracking-map {
  height: 80px;
}

.buddies-filter-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.buddy-tracking-container-element {
  width: 100%;
  height: 100%;
}

.buddy-stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.live-buddy-detail {
  position: absolute;
  padding-top: 10px;
  text-align: center;
}

.buddy-marker-label {
  display: table;
  margin-left: -80px;
  background-color: #454545;
  color: #ffffff;
  font-weight: bold;
  width: 170px;
  opacity: 0.8;
  padding-right: 20px;
  border-radius: 5px;
  word-break: break-word;
}
