.create-config-root {
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  .config-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    .config-header {
      border-bottom: 1px solid #e4e7eb;
      height: 64px;
      padding: 15px;
      font-size: 18px;
      .header-description {
        font-size: 14px;
        color: #66788a;
        margin-left: 15px;
      }
    }
    .config-body {
      .half-field {
        width: 50%;
      }
      .meta-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 15px;

        .adornment {
          font-size: 18px;
          color: #757575;
        }
      }
    }
    .config-action {
      padding: 15px;
      .create-btn {
        width: 180px;
        outline: none;
        box-shadow: none;
        letter-spacing: 1.5px;
      }
    }
  }
}
