.create-retailer-root {
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  .retailer-details-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    .retailer-header {
      border-bottom: 1px solid #e4e7eb;
      height: 64px;
      padding: 15px;
      font-size: 18px;
    }
    .retailer-body {
      display: grid;
      grid-template-columns: 1fr;
      .half-field {
        width: 50%;
      }
      .subheader {
        height: 48px;
        padding: 15px;
        font-size: 18px;
      }
      .meta-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 15px;
        border-bottom: 1px solid #e4e7eb;
      }
      .retailer-type-section {
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 1px solid #e4e7eb;
        .tabs-container {
          padding: 0 15px;
          .tab-root {
            outline: none;
            min-width: 120px;
            text-transform: none;
          }
        }
      }
      .form-section {
        display: grid;
        grid-template-columns: 1fr;
        .section-root {
          display: grid;
          grid-template-columns: 1fr;
          gap: 15px;
          padding: 15px;
          border-bottom: 1px solid #e4e7eb;
          .section-title {
            font-weight: bold;
          }
          .section-helper {
            color: #66788a;
            font-size: 14px;
          }
          .section-fields {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            .section-column-res {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr 1fr;
              gap: 15px;
            }
            .section-column-time {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: auto;
              gap: 15px;
            }
          }

          .footer-fields {
            border-top: 1px solid #e4e7eb;
            padding-top: 15px;
          }

          .section-fields-2c {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
          }
        }
      }
      .retailer-actions {
        padding: 15px;
      }
    }
  }
  .retailer-status-toggle {
    margin-left: -2%;
  }

  .retailer-details-map {
    height: 300px;
  }
}
