.customer-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  padding: 15px;
  .profile-card {
    background-color: white;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    .profile-header {
      height: 64px;
      padding: 15px;
      border-bottom: 1px solid #e4e7eb;
      .title-description {
        font-size: 14px;
        color: #66788a;
        margin-left: 15px;
      }
      .status-control {
        margin: 0;
      }
    }
    .profile-body {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      padding: 15px;
      .profile-title-section {
        .profile-avatar {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
        .profile-title {
          font-size: 24px;
          color: #212529;
          margin-left: 15px;
        }
      }
      .city-info {
        flex: 1;
      }
      .country-info {
        flex: 2;
      }
      .info-label {
        font-size: 12px;
        color: #66788a;
      }
      .info-value {
        font-size: 16px;
      }
    }
    .form-root {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      .form-body {
        padding: 15px;
      }
      .form-footer {
        box-sizing: border-box;
        padding: 15px;
        border-top: 1px solid #e4e7eb;
      }
    }
  }
}
