.order-details-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  padding: 15px;
  .order-actions-section {
    .order-status {
      color: #54617a;
      .status-value {
        color: #54617a;
        font-size: 16px;
      }
      .status-indicator {
        display: inline-block;
        margin-left: 15px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
      .status-grey {
        background-color: #9ea0a5;
      }
      .status-green {
        background-color: #47b881;
      }
      .status-yellow {
        background-color: #f7d154;
      }
      .status-red {
        background-color: #ec4c47;
      }
    }
  }
  .order-timeline-section {
    background-color: white;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    .timeline-header {
      color: #54617a;
      height: 54px;
      padding: 15px;
      .label {
        color: #77899b;
      }
    }
  }
  .order-details-section {
    background-color: white;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    .details-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .profile-col {
        border-right: 1px solid #e4e7eb;
        .user-profile {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
          padding: 15px;
          .avatar-container {
            height: 42px;
            width: 42px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;
            .avatar-img {
              width: 100%;
            }
          }
          .title-label {
            font-size: 14px;
            color: #77899b;
            .rating-icon {
              font-size: 18px;
              margin: 0 10px 4px 10px;
              color: #ffbd59;
            }
          }
          .title-value {
            font-size: 18px;
            color: black;
            text-transform: capitalize;
          }
          .profile-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .info-label {
              font-size: 12px;
              color: #66788a;
            }
            .info-value {
              color: black;
              font-size: 14px;
            }
          }
        }
        .user-profile:first-child {
          border-bottom: 1px solid #e4e7eb;
        }
      }
      .delivery-col {
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
        grid-gap: 15px;
        .promo-info {
          font-size: 14px;
          .info-label {
            margin-right: 15px;
            color: #66788a;
          }
          .info-value {
            color: black;
            font-weight: bold;
          }
        }
      }
      .amounts-container {
        .amount-info {
          font-size: 14px;
          margin-top: 8px;
        }
      }
    }
    .rating-address-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .rating-section {
        border-top: 1px solid #e4e7eb;
        border-right: 1px solid #e4e7eb;
        padding: 15px;
        display: grid;
        font-size: 14px;
        .rating-info {
          align-items: center;
          display: flex;
          justify-content: end;
          overflow: hidden;
          .info-label {
            color: #66788a;
          }
          .info-value {
            margin: 0;
          }
        }
        .chips {
          align-items: center;
          display: flex;
          justify-content: end;
          .chip:nth-of-type(1) {
            margin-left: 0 !important;
          }
          .chip {
            margin-left: 10px;
            padding: 0 10px;
            color: #495057;
          }
        }
        .feedback-info {
          overflow: hidden;
          align-items: center;
          display: flex;
          justify-content: end;
          .info-label {
            margin-right: 10px;
            color: #66788a;
          }
          .info-value {
            margin: 0;
          }
        }
      }
      .delivery-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        padding: 15px;
        border-top: 1px solid #e4e7eb;
        .route-col {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
          font-size: 14px;
          .address-info {
            overflow: hidden;
            .info-label {
              margin-right: 15px;
              color: #66788a;
            }
            .info-value {
              margin: 0;
            }
          }
        }
        .additional-col {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
          font-size: 14px;
          .address-info {
            overflow: hidden;
            .info-label {
              margin-right: 15px;
              color: #66788a;
            }
            .info-value {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .give-promo-btn {
    margin-right: 15px;
  }
}

.attach-promo-form-root {
  border-top: 1px solid #e4e7eb;
  .attach-promo-form-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
  }
  .attach-promo-form-footer {
    box-sizing: border-box;
    padding: 15px;
    border-top: 1px solid #e4e7eb;
    button:not(:first-child) {
      margin-left: 15px;
    }
  }
  .drawer-heading {
    border-bottom: 1px solid #e4e7eb;
    padding: 15px;
  }
}

.reschedule-dialog-root {
  .reschedule-header {
    padding: 15px;
    border-bottom: 1px solid #e4e7eb;
  }
  .reschedule-body {
    height: 300px;
    width: 400px;
    padding: 15px;
    overflow-y: auto;
    .reschedule-slots-list {
      margin-top: 15px;
      .slot-row {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        div {
          border: none;
        }
      }
      .selected-slot-row {
        font-weight: bold;
      }
    }
    .reschedule-slots-list :not(:last-child) {
      border-bottom: 1px solid #e4e7eb;
    }
  }
  .reschedule-actions {
    padding: 15px;
    border-top: 1px solid #e4e7eb;
    button {
      margin-left: 15px;
    }
  }
}
