.reports-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  padding: 15px;
  .report-body {
    background-color: white;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    width: 100%;
    .tabs-container {
      padding: 0;
      .tab-root {
        outline: none;
      }
    }
  }
}
