@import './components/dynamic-form.scss';
@import './components/button.scss';
@import './components/loader.scss';
@import './components/mui-table.scss';
@import './components/mui-table.scss';
@import './components/drawer.scss';
@import './components/nav-bar.scss';
@import './components/stat-card.scss';
@import './components/details-card.scss';
@import './components/cell-renderer.scss';
@import './components/data-not-found.scss';
@import './components/drop-down.scss';
@import './components/date-range-field.scss';
@import './components/breadcrumbs.scss';
@import './components/api-search-field.scss';
@import './components/time-range-select.scss';
@import './components/confirmation-dialog.scss';
@import './components/order-timeline.scss';
@import './components/data-exporter.scss';
@import './components/layout.scss';
@import './components/order-editor.scss';
@import './components/validator.scss';
@import './components/rotator.scss';
@import './components/suspense-loader.scss';
@import './components/retailers-filter.scss';
@import './components/dynamic-input.scss';

@import './modules/login.scss';
@import './modules/dashboard.scss';
@import './modules/buddy-details.scss';
@import './modules/customer-details.scss';
@import './modules/order-details.scss';
@import './modules/all-buddy-tracking.scss';
@import './modules/buddy-earning.scss';
@import './modules/page-not-found.scss';
@import './modules/buddies.scss';
@import './modules/promos.scss';
@import './modules/customers.scss';
@import './modules/reports.scss';
@import './modules/create-promo.scss';
@import './modules/promo-details.scss';
@import './modules/service-area.scss';
@import './modules/categories.scss';
@import './modules/products.scss';
@import './modules/packages.scss';
@import './modules/retailers.scss';
@import './modules/create-retailer.scss';
@import './modules/configurations.scss';
@import './modules/refunds.scss';
@import './modules/app-banners.scss';
@import './modules/retailer-users.scss';

@font-face {
  font-family: 'Din LT Next';
  src: url('assets/fonts/DINRegular.ttf') format('truetype');
}

.capitalize {
  text-transform: capitalize;
}

.theme-btn {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  text-overflow: clip;
  overflow: hidden;
  span {
    svg {
      margin-right: 15px;
    }
  }
}

.circular-btn {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

.module-root {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.padding {
  padding: 15px;
}
